

<header class="header-description">
        <div id="site-header">
            <h1><a href="<%- config.root %>"
                   title="<%- config.title %>"
                   rel="home"><%- config.title %></a></h1>
            <p class="typed"><a href="<%- config.root %>" title="<%- config.title %>" rel="home"></a></p>
        </div>
</header>
